src/main/resources/reserv-io.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="https://internal.emc.com/reserv-io/ws"
           xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
           targetNamespace="https://internal.emc.com/reserv-io/ws"
           elementFormDefault="qualified"
           jaxb:extensionBindingPrefixes="basic equals hashCode toString">
    <xs:simpleType name="Username">
        <xs:restriction base="xs:string">
            <xs:pattern value="[\p{L}\p{M}\p{S}\p{N}\p{P}]{6,32}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Email">
        <xs:restriction base="xs:string">
            <xs:pattern
                    value="(([^&lt;&gt;()\[\]\\.,;:\s@']+(\.[^&lt;&gt;()\[\]\\.,;:\s@']+)*)|('.+'))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))"/>
            <xs:maxLength value="254"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Password">
        <xs:restriction base="xs:string">
            <xs:minLength value="6"/>
            <xs:maxLength value="32"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Name">
        <xs:restriction base="xs:string">
            <xs:pattern value="[\\p{L} .'\-]{0,35}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FaultCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UNKNOWN_ERROR"/>
            <xs:enumeration value="INVALID_FIELD_VALUE"/>
            <xs:enumeration value="USER_ALREADY_REGISTERED"/>
            <xs:enumeration value="USER_DOES_NOT_EXIST"/>
            <xs:enumeration value="RESOURCE_DOES_NOT_EXIST"/>
            <xs:enumeration value="RESOURCE_IS_NOT_UNIQUE"/>
            <xs:enumeration value="RESERVATION_TYPE_DOES_NOT_EXIST"/>
            <xs:enumeration value="RESERVATION_STATUS_DOES_NOT_EXIST"/>
            <xs:enumeration value="EVENT_OVERLAPS_WITH_UNAVAILABLE_EVENT"/>
            <xs:enumeration value="EVENT_OVERLAPS_WITH_EVENT"/>
            <xs:enumeration value="PENDING_RESERVATIONS_LIMIT_EXCEEDED"/>
            <xs:enumeration value="ACCESS_DENIED"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GenericSearchRequestField">
        <xs:restriction base="xs:string">
            <xs:enumeration value="page"/>
            <xs:enumeration value="pageSize"/>
            <xs:enumeration value="searchField"/>
            <xs:enumeration value="searchType"/>
            <xs:enumeration value="searchValue"/>
            <xs:enumeration value="searchValueLowerBound"/>
            <xs:enumeration value="searchValueUpperBound"/>
            <xs:enumeration value="sortingOrder"/>
            <xs:enumeration value="sortingField"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Role">
        <xs:restriction base="xs:string">
            <xs:enumeration value="user"/>
            <xs:enumeration value="moderator"/>
            <xs:enumeration value="admin"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Page">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PageSize">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="100"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SortingOrder">
        <xs:restriction base="xs:string">
            <xs:enumeration value="asc"/>
            <xs:enumeration value="desc"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UserField">
        <xs:restriction base="xs:string">
            <xs:enumeration value="id"/>
            <xs:enumeration value="username"/>
            <xs:enumeration value="email"/>
            <xs:enumeration value="password"/>
            <xs:enumeration value="firstName"/>
            <xs:enumeration value="lastName"/>
            <xs:enumeration value="middleName"/>
            <xs:enumeration value="role"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UserSearchableField">
        <xs:restriction base="xs:string">
            <xs:enumeration value="id"/>
            <xs:enumeration value="username"/>
            <xs:enumeration value="email"/>
            <xs:enumeration value="firstName"/>
            <xs:enumeration value="lastName"/>
            <xs:enumeration value="middleName"/>
            <xs:enumeration value="role"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UserRegistrationRequestField">
        <xs:restriction base="xs:string">
                <xs:enumeration value="username"/>
                <xs:enumeration value="email"/>
                <xs:enumeration value="password"/>
                <xs:enumeration value="firstName"/>
                <xs:enumeration value="lastName"/>
                <xs:enumeration value="middleName"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GetUserRequestField">
        <xs:restriction base="xs:string">
            <xs:enumeration value="id"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CreateResourceRequestField">
        <xs:restriction base="xs:string">
            <xs:enumeration value="name"/>
            <xs:enumeration value="location"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ReservationField">
        <xs:restriction base="xs:string">
            <xs:enumeration value="id"/>
            <xs:enumeration value="resource"/>
            <xs:enumeration value="type"/>
            <xs:enumeration value="status"/>
            <xs:enumeration value="owner"/>
            <xs:enumeration value="startsAt"/>
            <xs:enumeration value="endsAt"/>
            <xs:enumeration value="createdOn"/>
            <xs:enumeration value="updatedOn"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ReservationSearchableField">
        <xs:restriction base="xs:string">
            <xs:enumeration value="id"/>
            <xs:enumeration value="resource"/>
            <xs:enumeration value="type"/>
            <xs:enumeration value="status"/>
            <xs:enumeration value="owner"/>
            <xs:enumeration value="startsAt"/>
            <xs:enumeration value="endsAt"/>
            <xs:enumeration value="createdOn"/>
            <xs:enumeration value="updatedOn"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SearchValue">
        <xs:restriction base="xs:string">
            <xs:maxLength value="254"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SearchType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="equals"/>
            <xs:enumeration value="contains"/>
            <xs:enumeration value="between"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ResourceName">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="25"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ResourceLocation">
        <xs:restriction base="xs:string">
            <xs:minLength value="0"/>
            <xs:maxLength value="45"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="UserInfo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
                <xs:element name="username" type="tns:Username"/>
                <xs:element name="email" type="tns:Email"/>
                <xs:element name="firstName" type="tns:Name" minOccurs="0"/>
                <xs:element name="lastName" type="tns:Name" minOccurs="0"/>
                <xs:element name="middleName" type="tns:Name" minOccurs="0"/>
                <xs:element name="role" type="tns:Role"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ResourceInfo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
                <xs:element name="name" type="tns:ResourceName"/>
                <xs:element name="location" type="tns:ResourceLocation" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ActionInfo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="time" type="xs:dateTime"/>
                <xs:element name="startsAt" type="xs:dateTime"/>
                <xs:element name="endsAt" type="xs:dateTime"/>
                <xs:element name="userId" type="xs:int"/>
                <xs:element name="resourceId" type="xs:int"/>
                <xs:element name="type" type="xs:int"/>
                <xs:element name="status" type="xs:int"/>
                <xs:element name="reservationId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ReservationInfo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="userId" type="xs:int"/>
                <xs:element ref="tns:ActionInfo" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ServiceFault">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="code" type="tns:FaultCode"/>
                <xs:element name="description" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="RegistrationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="username" type="tns:Username"/>
                <xs:element name="email" type="tns:Email"/>
                <xs:element name="password" type="tns:Password"/>
                <xs:element name="firstName" type="tns:Name" minOccurs="0"/>
                <xs:element name="lastName" type="tns:Name" minOccurs="0"/>
                <xs:element name="middleName" type="tns:Name" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetUserRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetUserResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tns:UserInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetUsersRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="page" type="tns:Page"/>
                <xs:element name="pageSize" type="tns:PageSize"/>
                <xs:element name="searchField" type="tns:UserSearchableField" minOccurs="0"/>
                <xs:element name="searchType" type="tns:SearchType" minOccurs="0"/>
                <xs:element name="searchValue" type="tns:SearchValue" minOccurs="0"/>
                <xs:element name="searchValueLowerBound" type="tns:SearchValue" minOccurs="0"/>
                <xs:element name="searchValueUpperBound" type="tns:SearchValue" minOccurs="0"/>
                <xs:element name="sortingOrder" type="tns:SortingOrder" minOccurs="0"/>
                <xs:element name="sortingField" type="tns:UserSearchableField" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetUsersResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tns:UserInfo" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateResourceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="tns:ResourceName"/>
                <xs:element name="location" type="tns:ResourceLocation" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateResourceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tns:ResourceInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateResourceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
                <xs:element name="name" type="tns:ResourceName"/>
                <xs:element name="location" type="tns:ResourceLocation" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateResourceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tns:ResourceInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetResourceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetResourceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tns:ResourceInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetResourcesRequest">
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetResourcesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tns:ResourceInfo" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetReservationsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="page" type="tns:Page"/>
                <xs:element name="pageSize" type="tns:PageSize"/>
                <xs:element name="searchField" type="tns:ReservationSearchableField" minOccurs="0"/>
                <xs:element name="searchType" type="tns:SearchType" minOccurs="0"/>
                <xs:element name="searchValue" type="tns:SearchValue" minOccurs="0"/>
                <xs:element name="searchValueLowerBound" type="tns:SearchValue" minOccurs="0"/>
                <xs:element name="searchValueUpperBound" type="tns:SearchValue" minOccurs="0"/>
                <xs:element name="sortingOrder" type="tns:SortingOrder" minOccurs="0"/>
                <xs:element name="sortingField" type="tns:ReservationSearchableField" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetReservationsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tns:ReservationInfo" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PlaceReservationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resourceId" type="xs:int"/>
                <xs:element name="startsAt" type="xs:dateTime"/>
                <xs:element name="endsAt" type="xs:dateTime"/>
                <xs:element name="type" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PlaceReservationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tns:ReservationInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateReservationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reservationId" type="xs:long"/>
                <xs:element name="resourceId" type="xs:int"/>
                <xs:element name="startsAt" type="xs:dateTime"/>
                <xs:element name="endsAt" type="xs:dateTime"/>
                <xs:element name="type" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateReservationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tns:ReservationInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CancelReservationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reservationId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CancelReservationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tns:ReservationInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AcceptReservationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reservationId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AcceptReservationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tns:ReservationInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ProposeNewTimeRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reservationId" type="xs:long"/>
                <xs:element name="resourceId" type="xs:int"/>
                <xs:element name="startsAt" type="xs:dateTime"/>
                <xs:element name="endsAt" type="xs:dateTime"/>
                <xs:element name="type" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ProposeNewTimeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tns:ReservationInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>