app-config/reserv-io.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://internal.emc.com/reserv-io/ws"
           elementFormDefault="qualified">
    <xs:element name="fakeRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="string" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="fakeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="length" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>