xsd/api.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="https://internal.emc.com/reserv-io/schema/api"
           xmlns:cns="https://internal.emc.com/reserv-io/schema/common"
           xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
           targetNamespace="https://internal.emc.com/reserv-io/schema/api"
           elementFormDefault="qualified"
           jaxb:extensionBindingPrefixes="basic equals hashCode toString">
    <xs:import namespace="https://internal.emc.com/reserv-io/schema/register" schemaLocation="register.xsd"/>
    <xs:import namespace="https://internal.emc.com/reserv-io/schema/common" schemaLocation="common.xsd"/>
    <xs:simpleType name="GenericSearchRequestField">
        <xs:restriction base="xs:string">
            <xs:enumeration value="page"/>
            <xs:enumeration value="pageSize"/>
            <xs:enumeration value="searchField"/>
            <xs:enumeration value="searchType"/>
            <xs:enumeration value="searchValue"/>
            <xs:enumeration value="searchValueLowerBound"/>
            <xs:enumeration value="searchValueUpperBound"/>
            <xs:enumeration value="sortingOrder"/>
            <xs:enumeration value="sortingField"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Role">
        <xs:restriction base="xs:string">
            <xs:enumeration value="USER"/>
            <xs:enumeration value="MODERATOR"/>
            <xs:enumeration value="ADMIN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Status">
        <xs:restriction base="xs:string">
            <xs:enumeration value="APPROVED"/>
            <xs:enumeration value="CANCELED"/>
            <xs:enumeration value="WAITING_FOR_APPROVAL"/>
            <xs:enumeration value="NEW_TIME_PROPOSED"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="REGULAR"/>
            <xs:enumeration value="UNAVAILABLE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Page">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PageSize">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="100"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SortingOrder">
        <xs:restriction base="xs:string">
            <xs:enumeration value="asc"/>
            <xs:enumeration value="desc"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UserField">
        <xs:restriction base="xs:string">
            <xs:enumeration value="id"/>
            <xs:enumeration value="username"/>
            <xs:enumeration value="email"/>
            <xs:enumeration value="password"/>
            <xs:enumeration value="firstName"/>
            <xs:enumeration value="lastName"/>
            <xs:enumeration value="middleName"/>
            <xs:enumeration value="role"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UserSearchableField">
        <xs:restriction base="xs:string">
            <xs:enumeration value="id"/>
            <xs:enumeration value="username"/>
            <xs:enumeration value="email"/>
            <xs:enumeration value="firstName"/>
            <xs:enumeration value="lastName"/>
            <xs:enumeration value="middleName"/>
            <xs:enumeration value="role"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GetUserRequestField">
        <xs:restriction base="xs:string">
            <xs:enumeration value="id"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CreateResourceRequestField">
        <xs:restriction base="xs:string">
            <xs:enumeration value="name"/>
            <xs:enumeration value="location"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ReservationField">
        <xs:restriction base="xs:string">
            <xs:enumeration value="id"/>
            <xs:enumeration value="resource"/>
            <xs:enumeration value="type"/>
            <xs:enumeration value="status"/>
            <xs:enumeration value="owner"/>
            <xs:enumeration value="startsAt"/>
            <xs:enumeration value="endsAt"/>
            <xs:enumeration value="createdOn"/>
            <xs:enumeration value="updatedOn"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ReservationSearchableField">
        <xs:restriction base="xs:string">
            <xs:enumeration value="id"/>
            <xs:enumeration value="resource"/>
            <xs:enumeration value="type"/>
            <xs:enumeration value="status"/>
            <xs:enumeration value="owner"/>
            <xs:enumeration value="startsAt"/>
            <xs:enumeration value="endsAt"/>
            <xs:enumeration value="createdOn"/>
            <xs:enumeration value="updatedOn"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SearchValue">
        <xs:restriction base="xs:string">
            <xs:maxLength value="254"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SearchType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="equals"/>
            <xs:enumeration value="contains"/>
            <xs:enumeration value="between"/>
            <xs:enumeration value="less"/>
            <xs:enumeration value="lessEqual"/>
            <xs:enumeration value="greater"/>
            <xs:enumeration value="greaterEqual"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ResourceName">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="25"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ResourceLocation">
        <xs:restriction base="xs:string">
            <xs:minLength value="0"/>
            <xs:maxLength value="45"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PlaceReservationRequestField">
        <xs:restriction base="xs:string">
            <xs:enumeration value="resourceId"/>
            <xs:enumeration value="startsAt"/>
            <xs:enumeration value="endsAt"/>
            <xs:enumeration value="type"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UpdateReservationRequestField">
        <xs:restriction base="xs:string">
            <xs:enumeration value="reservationId"/>
            <xs:enumeration value="resourceId"/>
            <xs:enumeration value="startsAt"/>
            <xs:enumeration value="endsAt"/>
            <xs:enumeration value="type"/>
            <xs:enumeration value="newResourceId"/>
            <xs:enumeration value="newStartsAt"/>
            <xs:enumeration value="newEndsAt"/>
            <xs:enumeration value="newType"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CancelReservationRequestField">
        <xs:restriction base="xs:string">
            <xs:enumeration value="reservationId"/>
            <xs:enumeration value="resourceId"/>
            <xs:enumeration value="startsAt"/>
            <xs:enumeration value="endsAt"/>
            <xs:enumeration value="type"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ApproveReservationRequestField">
        <xs:restriction base="xs:string">
            <xs:enumeration value="reservationId"/>
            <xs:enumeration value="resourceId"/>
            <xs:enumeration value="startsAt"/>
            <xs:enumeration value="endsAt"/>
            <xs:enumeration value="type"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ProposeNewTimeRequestField">
        <xs:restriction base="xs:string">
            <xs:enumeration value="reservationId"/>
            <xs:enumeration value="resourceId"/>
            <xs:enumeration value="startsAt"/>
            <xs:enumeration value="endsAt"/>
            <xs:enumeration value="type"/>
            <xs:enumeration value="newResourceId"/>
            <xs:enumeration value="newStartsAt"/>
            <xs:enumeration value="newEndsAt"/>
            <xs:enumeration value="newType"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UpdateUserInfoRequestField">
        <xs:restriction base="xs:string">
            <xs:enumeration value="username"/>
            <xs:enumeration value="email"/>
            <xs:enumeration value="firstName"/>
            <xs:enumeration value="lastName"/>
            <xs:enumeration value="middleName"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ChangePasswordRequestField">
        <xs:restriction base="xs:string">
            <xs:enumeration value="oldPassword"/>
            <xs:enumeration value="newPassword"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GrantPermissionsRequestField">
        <xs:restriction base="xs:string">
            <xs:enumeration value="userId"/>
            <xs:enumeration value="role"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="UserInfo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
                <xs:element name="username" type="cns:Username"/>
                <xs:element name="email" type="cns:Email"/>
                <xs:element name="firstName" type="cns:Name" minOccurs="0"/>
                <xs:element name="lastName" type="cns:Name" minOccurs="0"/>
                <xs:element name="middleName" type="cns:Name" minOccurs="0"/>
                <xs:element name="role" type="tns:Role"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ResourceInfo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
                <xs:element name="name" type="tns:ResourceName"/>
                <xs:element name="location" type="tns:ResourceLocation" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ActionInfo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="time" type="xs:dateTime"/>
                <xs:element name="startsAt" type="xs:dateTime"/>
                <xs:element name="endsAt" type="xs:dateTime"/>
                <xs:element name="userId" type="xs:int"/>
                <xs:element name="resourceId" type="xs:int"/>
                <xs:element name="type" type="tns:Type"/>
                <xs:element name="status" type="tns:Status"/>
                <xs:element name="reservationId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ReservationInfo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="userId" type="xs:int"/>
                <xs:element ref="tns:ActionInfo" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ActualReservationInfo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="ownerId" type="xs:int"/>
                <xs:element name="lastActionUserId" type="xs:int"/>
                <xs:element name="resourceId" type="xs:int"/>
                <xs:element name="type" type="tns:Type"/>
                <xs:element name="status" type="tns:Status"/>
                <xs:element name="startsAt" type="xs:dateTime"/>
                <xs:element name="endsAt" type="xs:dateTime"/>
                <xs:element name="createdOn" type="xs:dateTime"/>
                <xs:element name="updatedOn" type="xs:dateTime"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetUserRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetUserResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tns:UserInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetUsersRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="page" type="tns:Page"/>
                <xs:element name="pageSize" type="tns:PageSize"/>
                <xs:element name="searchField" type="tns:UserSearchableField" minOccurs="0"/>
                <xs:element name="searchType" type="tns:SearchType" minOccurs="0"/>
                <xs:element name="searchValue" type="tns:SearchValue" minOccurs="0"/>
                <xs:element name="searchValueLowerBound" type="tns:SearchValue" minOccurs="0"/>
                <xs:element name="searchValueUpperBound" type="tns:SearchValue" minOccurs="0"/>
                <xs:element name="sortingOrder" type="tns:SortingOrder" minOccurs="0"/>
                <xs:element name="sortingField" type="tns:UserSearchableField" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetUsersResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tns:UserInfo" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateResourceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="tns:ResourceName"/>
                <xs:element name="location" type="tns:ResourceLocation" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateResourceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tns:ResourceInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateResourceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
                <xs:element name="name" type="tns:ResourceName"/>
                <xs:element name="location" type="tns:ResourceLocation" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateResourceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tns:ResourceInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetResourceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetResourceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tns:ResourceInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetResourcesRequest">
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetResourcesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tns:ResourceInfo" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetReservationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetReservationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tns:ReservationInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetReservationsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="page" type="tns:Page"/>
                <xs:element name="pageSize" type="tns:PageSize"/>
                <xs:element name="searchField" type="tns:ReservationSearchableField" minOccurs="0"/>
                <xs:element name="searchType" type="tns:SearchType" minOccurs="0"/>
                <xs:element name="searchValue" type="tns:SearchValue" minOccurs="0"/>
                <xs:element name="searchValueLowerBound" type="tns:SearchValue" minOccurs="0"/>
                <xs:element name="searchValueUpperBound" type="tns:SearchValue" minOccurs="0"/>
                <xs:element name="sortingOrder" type="tns:SortingOrder" minOccurs="0"/>
                <xs:element name="sortingField" type="tns:ReservationSearchableField" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetReservationsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tns:ActualReservationInfo" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PlaceReservationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resourceId" type="xs:int"/>
                <xs:element name="startsAt" type="xs:dateTime"/>
                <xs:element name="endsAt" type="xs:dateTime"/>
                <xs:element name="type" type="tns:Type"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PlaceReservationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tns:ReservationInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateReservationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reservationId" type="xs:long"/>
                <xs:element name="resourceId" type="xs:int"/>
                <xs:element name="startsAt" type="xs:dateTime"/>
                <xs:element name="endsAt" type="xs:dateTime"/>
                <xs:element name="type" type="tns:Type"/>
                <xs:element name="newResourceId" type="xs:int"/>
                <xs:element name="newStartsAt" type="xs:dateTime"/>
                <xs:element name="newEndsAt" type="xs:dateTime"/>
                <xs:element name="newType" type="tns:Type"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateReservationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tns:ReservationInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CancelReservationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reservationId" type="xs:long"/>
                <xs:element name="resourceId" type="xs:int"/>
                <xs:element name="startsAt" type="xs:dateTime"/>
                <xs:element name="endsAt" type="xs:dateTime"/>
                <xs:element name="type" type="tns:Type"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CancelReservationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tns:ReservationInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ApproveReservationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reservationId" type="xs:long"/>
                <xs:element name="resourceId" type="xs:int"/>
                <xs:element name="startsAt" type="xs:dateTime"/>
                <xs:element name="endsAt" type="xs:dateTime"/>
                <xs:element name="type" type="tns:Type"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ApproveReservationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tns:ReservationInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ProposeNewTimeRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reservationId" type="xs:long"/>
                <xs:element name="resourceId" type="xs:int"/>
                <xs:element name="startsAt" type="xs:dateTime"/>
                <xs:element name="endsAt" type="xs:dateTime"/>
                <xs:element name="type" type="tns:Type"/>
                <xs:element name="newResourceId" type="xs:int"/>
                <xs:element name="newStartsAt" type="xs:dateTime"/>
                <xs:element name="newEndsAt" type="xs:dateTime"/>
                <xs:element name="newType" type="tns:Type"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ProposeNewTimeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tns:ReservationInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateUserInfoRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="username" type="cns:Username"/>
                <xs:element name="email" type="cns:Email"/>
                <xs:element name="firstName" type="cns:Name" minOccurs="0"/>
                <xs:element name="lastName" type="cns:Name" minOccurs="0"/>
                <xs:element name="middleName" type="cns:Name" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ChangePasswordRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="oldPassword" type="cns:Password"/>
                <xs:element name="newPassword" type="cns:Password"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GrantPermissionsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:int"/>
                <xs:element name="role" type="tns:Role"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>